<!doctype html>
<html ng-app='competition'>
  <head>
	<script src="js/angular.min.js"></script>
	<link type="text/css" rel="stylesheet" href="css/styles.css"/>
</head>
  <body>
  	<div align='center' id="ctrl" ng-controller="categoryCtrl">
		<div id="title" ng-show="isShow.title">
			<h2>{{createName()}}</h2>
			<h3>{{createTitle()}}</h3>
		</div>
		<div  id="left-menu" ng-show="isShow.lmenu">
		<div ng-repeat="category in categories">
			<button ng-click='chooseCategory($index)'>{{category}}</button>	
		</div>
		<div>
			<button ng-click='newCategoryForm()'>New category</button>
		</div>
	</div>
	<div id="default-main" ng-show="isShow.defaultMain">
		<h2>Category is not selected!</h2>
	</div>
	<div id="main" ng-show="isShow.main">
		<table>
		<tr>
			<th colspan="3">
				{{tableHeader[0].name}}
			</th>
			<th colspan="11">
				{{tableHeader[1].name}} <br/> 
				<button ng-disabled="round1.begin" ng-click="broadcastProtocols(0)">{{round1.protocol}}</button>
				<button ng-disabled="!(opened) || round1.begin" ng-click="completeRound()">Complete {{confirmationsCounter(!(opened) || round1.begin)}}/9</button>
			</th>
			<th  ng-show="isShow.round2" colspan="11">
				{{tableHeader[2].name}} <br/> 
				<button ng-disabled="round2.begin" ng-click="broadcastProtocols(1)">{{round2.protocol}}</button>
				<button ng-disabled="!(opened) || round2.begin" ng-click="completeRound()">Complete {{confirmationsCounter(!(opened) || round2.begin)}}/9</button>
			</th>
			<th colspan="2">
				{{tableHeader[3].name}}
			</th>
			<th colspan="2">
				{{tableHeader[4].name}} <br/>
				<button ng-disabled="!opened" ng-click="broadcastCompare()">Compare</button>
			</th>
		</tr>
		<tr>
			<th ng-repeat="name in tableHeader[0].subname">  {{name}}</th>
			<th ng-repeat="name in tableHeader[1].subname">  {{name}}</th>
			<th  ng-show="isShow.round2" ng-repeat="name in tableHeader[2].subname">  {{name}}</th>
			<th ng-repeat="name in tableHeader[3].subname">  {{name}}</th>
			<th ng-repeat="name in tableHeader[4].subname">  {{name}}</th>
		</tr>
		<tr align='center' ng-repeat="player in players">
	          <td ng-click="editPlayerForm($index)">{{ player.number }}</td>
	          <td>{{ player.fullName }}</td>
	          <td>{{ player.from }}</td>
	          
	          <td ng-repeat="place in player.rounds[0].judges track by $index">{{place}}</td> 
	          <td>{{ player.rounds[0].sum }} </td>
	          <td>{{ player.rounds[0].rank }}</td>
	          
	          <td ng-show="isShow.round2" ng-repeat="place in player.rounds[1].judges track by $index">{{place}}</td> 
	          <td  ng-show="isShow.round2">{{ player.rounds[1].sum }} </td>
	          <td  ng-show="isShow.round2">{{ player.rounds[1].rank }}</td>
	          
	          <td>{{ player.sum }}</td>
	          <td>{{ player.rank }}</td>
	          <td>{{ player.number }}</td>
	          <td>{{ player.count }}</td>
	    </tr>
	    <tr>
		    <td>
		    	<div>
					<button ng-click='newPlayerForm()'>Add Player</button>
				</div>
		    </td>
	    </tr>
		</table>
		<div>
			<span>
				<button ng-click='editCategoryForm()'>Edit Category</button>
			</span>
		</div>
	</div>
	<div id="login" ng-show="isShow.login">
		<!--Login-->
		<h1>Login!!!</h1>
		<form name="login">
			<div>
				<span>
					Login: 
					<input type="text" name="login">
		  		</span>
		  	</div>
			<div>
				<span>
					Pass:  
		  			<input type="password" name="pass">
			  	</span>
		  	</div>
			<div>
		  			<input type="submit" value="Login">
		  	</div>
		  	<div>
		  	{{loginError}}
		  	</div>
		 </form>
	</div>
	<div id="new-category-form" ng-show="isShow.newCtForm">
		<!--Add new category _form-->
		<h1>New category</h1>
		<form name="category">
			<div>
				<span>
					Full Category Name: 
					<input type="text" name="fullName">
				</span>
		  	</div>
			<div>
				<span>
					Short Category Name: 
		 		<input type="text" name="shortName">
		  		</span>
		  	</div>
			<div>
				<span>
					Factor of Round1: 
					<input type="number" name="round1" value=1>
		  		</span>
		  	</div>
			<div>
				<span>
					<input type="checkbox" name="round2Check">
					Factor of Round2:  
		  			<input type="number" name="round2" value=0>
			  	</span>
		  	</div>
			<div>
				<span>
					<input type="submit" value="Create">
		  		  </span>
		  	</div>
		</form>
		<button ng-click="showMain()">Cancel</button>
	</div>
	<div id="edit-category-form" ng-show="isShow.editCtForm">
		<h1>Edit category</h1>
		<table>
			<tr>
			    <td>{{categoryForm[0].name}}</td>
			    <td><input type="text" ng-model="categoryForm[0].data"></td>
			</tr>
			<tr>
			    <td>{{categoryForm[1].name}}</td>
			    <td><input type="text" ng-model="categoryForm[1].data"></td>
			</tr>
		</table>
		<span>
			<button ng-click="editCategory()">Edit</button>
			<button ng-click="deleteCategory()">Delete</button>
			<button ng-click="showMain()">Cancel</button>
		</span>
	</div>
	<div  id="new-player-form" ng-show="isShow.newPlForm">
		<!--Add new player _form-->
		<h1>New player</h1>
		<form name="player">
			<div>
				<span>
					Number: 
					<input type="number" name="number" value=0>
				</span>
		  	</div>
			<div>
				<span>
					Full Name: 
		 		<input type="text" name="fullName">
		  		</span>
		  	</div>
			<div>
				<span>
					From: 
					<input type="text" name="from">
		  		</span>
		  	</div>
			<div>
				<span>
		  			<input type="submit" value="Create">
		  		  </span>
		  	</div>
			</form>
			<button ng-click="showMain()">Cancel</button>
		</div>
		<div  id="edit-player-form" ng-show="isShow.editPlForm">
			<h1>Edit Player</h1>
			<table>
				<tr>
				    <td>{{playerForm[0].name}}</td>
				    <td>{{playerForm[0].data}}</td>
		    	</tr>
		    	<tr>
				    <td>{{playerForm[1].name}}</td>
				    <td><input type="text" ng-model="playerForm[1].data"></td>
		    	</tr>
		    	<tr>
				    <td>{{playerForm[2].name}}</td>
				    <td><input type="text" ng-model="playerForm[2].data"></td>
		    	</tr>
			</table>
			<span>
				<button ng-click="editPlayer(editPlayerTypes.edit, false)">Edit This</button>
				<button ng-click="editPlayer(editPlayerTypes.delete, false)">Delete This</button>
				<button ng-click="editPlayer(editPlayerTypes.delete, true)">Delet From All</button>
				<button ng-click="showMain()">Cancel</button>
			</span>
		</div>
		<div id="right-menu"  ng-show="isShow.rmenu">
			<div>
				<form name="chat">
				  <input type="text" name="message">
				  <input type="submit" value="Send">
				</form>
				</div>
				<div ng-repeat="msg in messages">
					{{msg.data}}
				</div>
			</div>
		</div>
	</div>
	<script src="js/server.cntrl.js"></script>
  </body>
</html>
